<?xml version="1.0" encoding="utf-8"?>
<!-- Gazebo Compatible URDF -->
<robot name="robotic_arm_omnibase_platform3">

  <!-- ================= LINKS (Unchanged) ================= -->
  <link name="base_link">
    <inertial> <origin xyz="-1.06e-08 5.04e-05 0.0452" rpy="0 0 0"/> <mass value="2.6937"/> <inertia ixx="0.01408" ixy="1.31e-05" ixz="-1.38e-08" iyy="0.02323" iyz="-1.31e-06" izz="0.03512"/> </inertial>
    <visual> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/base_link.STL"/> </geometry> <material name="RedMat"> <color rgba="1 0 0 1"/> </material> </visual>
    <collision> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/base_link.STL"/> </geometry> </collision>
  </link>
  <link name="l_w_1">
    <inertial> <origin xyz="-2.89e-09 -0.0125 -1.18e-09" rpy="0 0 0"/> <mass value="0.0504"/> <inertia ixx="1.07e-05" ixy="5.68e-14" ixz="2.99e-12" iyy="2.03e-05" iyz="-4.83e-14" izz="1.07e-05"/> </inertial>
    <visual> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_w_1.STL"/> </geometry> <material name="GreyMat"> <color rgba="0.5 0.5 0.5 1"/> </material> </visual>
    <collision> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_w_1.STL"/> </geometry> </collision>
  </link>
  <link name="l_w_2">
    <inertial> <origin xyz="-2.89e-09 -0.0124 1.18e-09" rpy="0 0 0"/> <mass value="0.0504"/> <inertia ixx="1.07e-05" ixy="-5.68e-14" ixz="-2.99e-12" iyy="2.03e-05" iyz="-4.83e-14" izz="1.07e-05"/> </inertial>
    <visual> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_w_2.STL"/> </geometry> <material name="GreyMat"/> </visual>
    <collision> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_w_2.STL"/> </geometry> </collision>
  </link>
  <link name="r_w_1">
    <inertial> <origin xyz="-2.91e-09 -0.0125 -1.14e-09" rpy="0 0 0"/> <mass value="0.0504"/> <inertia ixx="1.07e-05" ixy="5.59e-14" ixz="3.05e-12" iyy="2.03e-05" iyz="-4.97e-14" izz="1.07e-05"/> </inertial>
    <visual> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/r_w_1.STL"/> </geometry> <material name="GreyMat"/> </visual>
    <collision> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/r_w_1.STL"/> </geometry> </collision>
  </link>
  <link name="r_w_2">
    <inertial> <origin xyz="-2.89e-09 -0.0125 -1.18e-09" rpy="0 0 0"/> <mass value="0.0504"/> <inertia ixx="1.07e-05" ixy="5.68e-14" ixz="2.99e-12" iyy="2.03e-05" iyz="-4.83e-14" izz="1.07e-05"/> </inertial>
    <visual> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/r_w_2.STL"/> </geometry> <material name="GreyMat"/> </visual>
    <collision> <origin xyz="0 0 0" rpy="0 0 0"/> <geometry> <mesh filename="package://robotic_arm_omnibase_platform3/meshes/r_w_2.STL"/> </geometry> </collision>
  </link>
  <link name="b_l_r_a"><inertial><origin xyz="4.44e-07 -0.0009 -0.008" rpy="0 0 0"/><mass value="0.116"/><inertia ixx="0.00016" ixy="4.15e-10" ixz="9.79e-10" iyy="0.00015" iyz="-4.25e-06" izz="0.00025"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/b_l_r_a.STL"/></geometry><material name="BlueMat"><color rgba="0 0 1 1"/></material></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/b_l_r_a.STL"/></geometry></collision></link>
  <link name="b_c"><inertial><origin xyz="-0.0054 0.0034 0.0125" rpy="0 0 0"/><mass value="0.0604"/><inertia ixx="4.99e-05" ixy="-1.86e-06" ixz="3.53e-06" iyy="3.86e-05" iyz="-6.94e-06" izz="5.40e-05"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/b_c.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/b_c.STL"/></geometry></collision></link>
  <link name="l_1"><inertial><origin xyz="-5.65e-05 -0.0061 0.0648" rpy="0 0 0"/><mass value="0.1287"/><inertia ixx="0.00025" ixy="3.34e-08" ixz="-6.48e-07" iyy="0.00027" iyz="9.22e-07" izz="2.88e-05"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_1.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_1.STL"/></geometry></collision></link>
  <link name="l_2"><inertial><origin xyz="0.0126 0.0006 0.0824" rpy="0 0 0"/><mass value="0.177"/><inertia ixx="0.00033" ixy="-1.75e-08" ixz="-2.35e-06" iyy="0.00029" iyz="-1.62e-06" izz="6.08e-05"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_2.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_2.STL"/></geometry></collision></link>
  <link name="l_3"><inertial><origin xyz="-0.0028 -0.0072 0.0213" rpy="0 0 0"/><mass value="0.0338"/><inertia ixx="2.83e-05" ixy="-1.40e-06" ixz="4.00e-06" iyy="2.75e-05" iyz="6.57e-06" izz="1.06e-05"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_3.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_3.STL"/></geometry></collision></link>
  <link name="g_1"><inertial><origin xyz="0.0048 0.0004 -0.008" rpy="0 0 0"/><mass value="0.0023"/><inertia ixx="5.01e-07" ixy="-1.96e-09" ixz="3.52e-08" iyy="4.70e-07" iyz="2.32e-08" izz="4.96e-08"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/g_1.STL"/></geometry><material name="GreyMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/g_1.STL"/></geometry></collision></link>
  <link name="l_4_1"><inertial><origin xyz="-0.014 -0.016 -0.005" rpy="0 0 0"/><mass value="0.0012"/><inertia ixx="1.82e-07" ixy="-1.12e-07" ixz="-3.37e-08" iyy="1.00e-07" iyz="-4.81e-08" izz="2.40e-07"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_4_1.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_4_1.STL"/></geometry></collision></link>
  <link name="gr_1"><inertial><origin xyz="-0.006 -0.007 -0.021" rpy="0 0 0"/><mass value="0.0193"/><inertia ixx="6.33e-06" ixy="-8.47e-22" ixz="-1.89e-21" iyy="4.96e-06" iyz="-1.47e-06" izz="1.74e-06"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/gr_1.STL"/></geometry><material name="GreyMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/gr_1.STL"/></geometry></collision></link>
  <link name="g_2"><inertial><origin xyz="-0.0005 -0.0012 0.0085" rpy="0 0 0"/><mass value="0.0024"/><inertia ixx="5.00e-07" ixy="-1.69e-08" ixz="7.98e-09" iyy="4.76e-07" iyz="7.45e-08" izz="6.05e-08"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/g_2.STL"/></geometry><material name="GreyMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/g_2.STL"/></geometry></collision></link>
  <link name="l_4_2"><inertial><origin xyz="-0.015 -0.016 -0.003" rpy="0 0 0"/><mass value="0.0012"/><inertia ixx="1.78e-07" ixy="-1.16e-07" ixz="-2.07e-08" iyy="9.53e-08" iyz="-2.93e-08" izz="2.49e-07"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_4_2.STL"/></geometry><material name="BlueMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/l_4_2.STL"/></geometry></collision></link>
  <link name="gr_2"><inertial><origin xyz="-0.006 -0.006 -0.021" rpy="0 0 0"/><mass value="0.0193"/><inertia ixx="6.33e-06" ixy="7.41e-22" ixz="1.65e-21" iyy="5.30e-06" iyz="-9.85e-07" izz="1.40e-06"/></inertial><visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/gr_2.STL"/></geometry><material name="GreyMat"/></visual><collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://robotic_arm_omnibase_platform3/meshes/gr_2.STL"/></geometry></collision></link>

  <!-- ================= JOINTS (Mimic Removed) ================= -->
  <joint name="left_wheel_1" type="continuous"> <origin xyz="0.15707 0.12401 0.021466" rpy="0 0 -0.7854"/> <parent link="base_link"/> <child link="l_w_1"/> <axis xyz="0 1 0"/> <limit effort="0.15" velocity="62.8"/> </joint>
  <joint name="left_wheel_2" type="continuous"> <origin xyz="-0.15707 0.12401 0.021466" rpy="0 0 0.7854"/> <parent link="base_link"/> <child link="l_w_2"/> <axis xyz="0 1 0"/> <limit effort="0.15" velocity="62.8"/> </joint>
  <joint name="right_wheel_1" type="continuous"> <origin xyz="0.15707 -0.12401 0.021466" rpy="0 0 -2.3562"/> <parent link="base_link"/> <child link="r_w_1"/> <axis xyz="0 1 0"/> <limit effort="0.15" velocity="62.8"/> </joint>
  <joint name="right_wheel_2" type="continuous"> <origin xyz="-0.15707 -0.12401 0.021466" rpy="0 0 2.3562"/> <parent link="base_link"/> <child link="r_w_2"/> <axis xyz="0 1 0"/> <limit effort="0.15" velocity="62.8"/> </joint>
  <joint name="base_link_robotic_arm" type="fixed"> <origin xyz="0 -0.00025 0.1280" rpy="0 0 3.1415"/> <parent link="base_link"/> <child link="b_l_r_a"/> <axis xyz="0 0 0"/> </joint>
  <joint name="base_cap" type="revolute"> <origin xyz="0 -0.00025 0.0269" rpy="0 0 0"/> <parent link="b_l_r_a"/> <child link="b_c"/> <axis xyz="0 0 1"/> <limit lower="0" upper="6.28" effort="1.96" velocity="7"/> </joint>
  <joint name="link_1" type="revolute"> <origin xyz="0.0039 0.0196 0.0353" rpy="-3.1416 1.1933 -1.8204"/> <parent link="b_c"/> <child link="l_1"/> <axis xyz="0 1 0"/> <limit lower="-3.14" upper="0" effort="1.96" velocity="7"/> </joint>
  <joint name="link_2" type="revolute"> <origin xyz="0 0 0.129" rpy="0.0252 0 1.5708"/> <parent link="l_1"/> <child link="l_2"/> <axis xyz="1 0 0"/> <limit lower="-0.5" upper="2.45" effort="1.96" velocity="7"/> </joint>
  <joint name="link_3" type="revolute"> <origin xyz="-0.0055 0.0013 0.179" rpy="-0.5582 0 3.1416"/> <parent link="l_2"/> <child link="l_3"/> <axis xyz="-1 0 0"/> <limit lower="-1.5" upper="1" effort="1.96" velocity="7"/> </joint>
  <joint name="driver_gear" type="revolute"> <origin xyz="-0.0038 -0.013 0.049" rpy="-1.5708 0 1.5708"/> <parent link="l_3"/> <child link="g_1"/> <axis xyz="1 0 0"/> <limit lower="-0.78" upper="0.3" effort="1.96" velocity="7"/> </joint>
  <joint name="link_4_1" type="fixed"> <origin xyz="0.0064 0.0022 -0.039" rpy="0.0457 -0.031 0.6097"/> <parent link="g_1"/> <child link="l_4_1"/> <axis xyz="0 0 0"/> </joint>
  <joint name="gripper_1" type="revolute"> <origin xyz="-0.027 -0.034 -0.011" rpy="-1.3235 0 -0.6104"/> <parent link="l_4_1"/> <child link="gr_1"/> <axis xyz="1 0 0"/> <limit lower="0" upper="1.5" effort="1.96" velocity="7"/> </joint>
  <!-- Removed mimic tag from driven_gear -->
  <joint name="driven_gear" type="revolute"> <origin xyz="-0.024 -0.0085 0.049" rpy="-1.5708 0.6097 1.5708"/> <parent link="l_3"/> <child link="g_2"/> <axis xyz="0.819 -0.572 0"/> <limit lower="-0.78" upper="0.3" effort="1.96" velocity="7"/> </joint>
  <joint name="link_4_2" type="fixed"> <origin xyz="-0.001 -0.006 0.039" rpy="0.127 -0.089 0"/> <parent link="g_2"/> <child link="l_4_2"/> <axis xyz="0 0 0"/> </joint>
  <joint name="gripper_2" type="revolute"> <origin xyz="-0.028 -0.034 -0.006" rpy="-1.423 0 -0.615"/> <parent link="l_4_2"/> <child link="gr_2"/> <axis xyz="1 0 0"/> <limit lower="-1.5" upper="0" effort="1.96" velocity="7"/> </joint>

  <!-- ================= TRANSMISSIONS (Unchanged Wheel + Added Arm) ================= -->
  <transmission name="tran1"> <type>transmission_interface/SimpleTransmission</type> <joint name="left_wheel_1"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> </joint> <actuator name="motor1"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran2"> <type>transmission_interface/SimpleTransmission</type> <joint name="left_wheel_2"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> </joint> <actuator name="motor2"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran3"> <type>transmission_interface/SimpleTransmission</type> <joint name="right_wheel_1"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> </joint> <actuator name="motor3"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran4"> <type>transmission_interface/SimpleTransmission</type> <joint name="right_wheel_2"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> </joint> <actuator name="motor4"> <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_base_cap"> <type>transmission_interface/SimpleTransmission</type> <joint name="base_cap"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_base_cap"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_link_1"> <type>transmission_interface/SimpleTransmission</type> <joint name="link_1"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_link_1"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_link_2"> <type>transmission_interface/SimpleTransmission</type> <joint name="link_2"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_link_2"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_link_3"> <type>transmission_interface/SimpleTransmission</type> <joint name="link_3"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_link_3"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_driver_gear"> <type>transmission_interface/SimpleTransmission</type> <joint name="driver_gear"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_driver_gear"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_gripper_1"> <type>transmission_interface/SimpleTransmission</type> <joint name="gripper_1"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_gripper_1"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  <transmission name="tran_gripper_2"> <type>transmission_interface/SimpleTransmission</type> <joint name="gripper_2"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> </joint> <actuator name="motor_gripper_2"> <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> <mechanicalReduction>1</mechanicalReduction> </actuator> </transmission>
  
  <!-- ================= GAZEBO PLUGINS (Unchanged + Added ros_control) ================= -->
  <gazebo>
    <plugin name="gazebo_ros_planar_move" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
      <publishTF>true</publishTF>
      <enable-xy>true</enable-xy>
      <enable-rotation>true</enable-rotation>
      <front_left_joint>left_wheel_1</front_left_joint>
      <front_right_joint>right_wheel_1</front_right_joint>
      <back_left_joint>left_wheel_2</back_left_joint>
      <back_right_joint>right_wheel_2</back_right_joint>
      <wheel_separation_x>0.314</wheel_separation_x>
      <wheel_separation_y>0.248</wheel_separation_y>
      <wheel_radius>0.05</wheel_radius>
      <x_p_gain>1.0</x_p_gain> <x_i_gain>0.1</x_i_gain> <x_d_gain>0.01</x_d_gain>
      <y_p_gain>1.0</y_p_gain> <y_i_gain>0.1</y_i_gain> <y_d_gain>0.01</y_d_gain>
      <rot_p_gain>1.0</rot_p_gain> <rot_i_gain>0.1</rot_i_gain> <rot_d_gain>0.01</rot_d_gain>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sarm</robotNamespace>
    </plugin>
  </gazebo>

  <!-- ================= GAZEBO MATERIALS (Unchanged) ================= -->
  <gazebo reference="base_link"><material>Gazebo/Red</material></gazebo>
  <gazebo reference="l_w_1"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="l_w_2"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="r_w_1"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="r_w_2"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="b_l_r_a"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="b_c"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="l_1"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="l_2"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="l_3"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="g_1"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="l_4_1"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="gr_1"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="g_2"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="l_4_2"><material>Gazebo/Blue</material></gazebo>
  <gazebo reference="gr_2"><material>Gazebo/Grey</material></gazebo>

</robot>
