<launch>
  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find two_wheel_robot)/urdf/robot.xacro" />

  <!-- Use simulation time -->
  <param name="use_sim_time" value="true"/>

  <!-- Publish joint states and TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Launch Gazebo with custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find two_wheel_robot)/worlds/line_world.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
  </include>

  <!-- Spawn the robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model two_wheel_robot -x -2.068727 -y 1.314236 -z 0.091840 -P 0.080086 -Y -1.578145" />
</launch>

