<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find roboticarm8)/urdf/roboticarm8.urdf'" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model roboticarm8 -param robot_description" />

    <rosparam file="$(find roboticarm8)/config/gazebo_controllers.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="joint_state_controller arm_controller"/>

</launch>
